DATABASE_URL="postgresql://postgres:12345678@localhost:5432/scanara"
HELIUS_RPC_URL="6e4f9f82-8419-4550-a82b-289556a463de"
BOT_TOKEN="8693952283:AAHScUirA5Xr5TQ1I0HYqGPOLJRjNnlr70Y"
SENTRY_DSN=""
ADMIN_IDS=""